/* Header Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

div{
    border: 1px solid red;
}

.content{
    display: none;
}

:target{
    display: block;
}

input, textarea{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav {
    display: grid;
    background-color: #444;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: background-color 0.3s ease;
    
}

nav a:hover {
    background-color: #555;
}